In [1]:
import pandas as pd
import numpy as np
from fractions import Fraction


csv_path = "Data/mr_boston_flattened.csv"

In [2]:
category_df = pd.read_csv(csv_path, encoding="utf-8")
category_df.head()

,name,category,measurement-1,ingredient-1,measurement-2,ingredient-2,measurement-3,ingredient-3,measurement-4,ingredient-4,measurement-5,ingredient-5,measurement-6,ingredient-6,instructions,glass,glass-size
0,Gauguin,Cocktail Classics,2 oz,Light Rum,1 oz,Passion Fruit Syrup,1 oz,Lemon Juice,1 oz,Lime Juice,NaN,NaN,NaN,NaN,Combine ingredients with a cup of crushed ice ...,Old-Fashioned Glass,6 to 8 ounces
1,Fort Lauderdale,Cocktail Classics,1 1/2 oz,Light Rum,1/2 oz,Sweet Vermouth,1/4 oz,Juice of Orange,1/4 oz,Juice of a Lime,NaN,NaN,NaN,NaN,Shake with ice and strain into old-fashioned g...,Old-Fashioned Glass,6 to 8 ounces
2,Apple Pie,Cordials and Liqueurs,3 oz,Apple schnapps,1 oz,Cinnamon schnapps,NaN,Apple slice,NaN,NaN,NaN,NaN,NaN,NaN,Pour into ice-filled old-fashioned glass. Garn...,Old-Fashioned Glass,6 to 8 ounces
3,Cuban Cocktail No. 1,Cocktail Classics,1/2 oz,Juice of a Lime,1/2 oz,Powdered Sugar,2 oz,Light Rum,NaN,NaN,NaN,NaN,NaN,NaN,Shake with ice and strain into cocktail glass.,Cocktail Glass,6 or more ounces
4,Cool Carlos,Cocktail Classics,1 1/2 oz,Dark rum,2 oz,Cranberry Juice,2 oz,Pineapple Juice,1 oz,Orange curacao,1 oz,Sour Mix,NaN,NaN,"Mix all ingredients except curacao with ice, s...",Collins Glass,14 to 16 ounces

In [3]:
# drop columns from dataframe
type2_df = type_df = category_df[["name", "category"]]
type3_df = type2_df.rename(columns={'category':'type'})
type3_df.head()

                   name                   type
0               Gauguin      Cocktail Classics
1       Fort Lauderdale      Cocktail Classics
2             Apple Pie  Cordials and Liqueurs
3  Cuban Cocktail No. 1      Cocktail Classics
4           Cool Carlos      Cocktail Classics

## load to table

In [4]:
from sqlalchemy import create_engine
from config import postgres_pwd, postgres_user

db_name = "cocktail_db"
table_name = "cocktail"

connection_string = f"{postgres_user}:{postgres_pwd}@localhost:5432/{db_name}"
engine = create_engine(f'postgresql://{connection_string}')
conn = engine.connect()

type3_df.to_sql(table_name, con=engine, if_exists="append", index=False)

conn.close()

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "pk_cocktail"
DETAIL:  Key (name)=(Gauguin) already exists.

[SQL: INSERT INTO cocktail (name, type) VALUES (%(name)s, %(type)s)]
[parameters: ({'name': 'Gauguin', 'type': 'Cocktail Classics'}, {'name': 'Fort Lauderdale', 'type': 'Cocktail Classics'}, {'name': 'Apple Pie', 'type': 'Cordials and Liqueurs'}, {'name': 'Cuban Cocktail No. 1', 'type': 'Cocktail Classics'}, {'name': 'Cool Carlos', 'type': 'Cocktail Classics'}, {'name': 'John Collins', 'type': 'Whiskies'}, {'name': 'Cherry Rum', 'type': 'Cocktail Classics'}, {'name': 'Casa Blanca', 'type': 'Cocktail Classics'}  ... displaying 10 of 990 total bound parameter sets ...  {'name': 'Waikiki Beachcomber', 'type': 'Gin'}, {'name': 'Vow Of Silence', 'type': 'Gin'})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)